@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@theme {
    --color-off-white: #F3F4F4;
    --color-white: #FFFFFF;
    --color-blue-bright: #00A6DB;
    --color-blue-medium: #0090BF;
    --color-blue-dark: #09366D;
    --color-blue-muted: #3576A7;
    --color-coral: #E15E60;
    --color-green: #009933;

    
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: var(--color-background);
        color: var(--color-text);
        font-family: 'Lato', sans-serif;
    }

    
}

@layer components {
    .slide-in-text {
        animation: slideInFromBottom 0.8s ease-out;
    }

    .slide-in-text-delay {
        animation: slideInFromBottom 0.8s ease-out 0.2s both;
    }

    .slide-in-text-delay-2 {
        animation: slideInFromBottom 0.8s ease-out 0.4s both;
    }

    @keyframes modalFadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes modalFadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }


    @keyframes slideInFromBottom {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-in-from-top {
      from {
            transform: translateY(-100px) scale(0.95);
            opacity: 0;
        }
        to {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }

    @keyframes slide-out-to-top {
      from {
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        to {
            transform: translateY(-100px) scale(0.95);
            opacity: 0;
        }
    }

    .slide-in-from-top-4 {
      animation: slide-in-from-top 0.4s ease-out;
    }

    .slide-out-to-top-4 {
      animation: slide-out-to-top 0.4s ease-in;
    }

    .fade-in {
        animation: modalFadeIn 0.4s ease-out forwards;
    }

    .fade-out {
        animation: modalFadeOut 0.4s ease-in forwards;
    }



    .frontpage-header {
        transition: background-image 1s ease-in-out;
    }
}

@layer utilities {

}